<html>
<body>
<style>
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
</style>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div class="jumbotron text-center">
  <div class="container">
    
    <h1>Click the button below to start voting</h1>
    <p style="color:#888;"></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Here We go !</h2>
    </div>
  </div>
  <div class="column">
    <div class="col-md-12 col-sm-12 col-xs-12"> <a href="/vote" class="btn btn-sm animated-button victoria-two" style="height: 200px;text-align: center"><h1>Recognise Yourself !</h1></a> </div> 
</body>
</html>
